﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="#">
                        <span class="clear">
                            @{
                                var displayName = "";
                                var role = "";
                                var roles = new string[] { "DSM", "RSM", "RSR" };
                                if (Session["user"] != null)
                                {
                                    displayName = ((SLEWebPortal.Models.LoginViewModel)Session["user"]).DisplayName;
                                    role = ((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role;
                                }
                            }
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @displayName </strong>
                            </span>
                            <span class="text-muted text-xs block">@role</span>

                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    SLE
                </div>
            </li>
            @if (Session["user"] != null)
            {
                if (((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role.ToString() != "ITADMIN")
                {
                    <li class="@Html.IsSelected(action: "Index", controller: "Dashboard")">
                        <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
                    </li>
                }
                if ((!roles.Contains(((SLEWebPortal.Models.LoginViewModel)Session["user"]).Role.ToString())))
                {
                    <li class="@Html.IsSelected(controller: "User", action: "Index")">
                        <a href="@Url.Action("Index", "User")"><i class="fa fa-group"></i> <span class="nav-label">Users</span></a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Device")">
                        <a href="@Url.Action("Index", "Device")"><i class="fa fa-laptop"></i> <span class="nav-label">Devices</span> </a>
                    </li>

                }
                <li class="@Html.IsSelected(controller: "Route", action: "Index")">
                    <a href="@Url.Action("Index", "Route")"><i class="fa fa-sitemap"></i> <span class="nav-label">Routes</span></a>
                </li>
                <li class="@Html.IsSelected(action: "MapUser", controller: "User")">
                    <a href="@Url.Action("MapUser", "User")"><i class="fa fa-laptop"></i> <span class="nav-label">User Mapping</span> </a>
                </li>
                @*<li class="@Html.IsSelected(action: "Index", controller: "Customer")">
                        <a href="@Url.Action("Index", "Customer")"><i class="fa fa-laptop"></i> <span class="nav-label">Customer</span> </a>
                    </li>*@

            }



        </ul>
    </div>
</nav>