﻿
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.CustomerModels
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Manage Customers</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Customers : @Model.Customers.Count</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover customer-listing-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Address</th>
                                <th>Phone#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < @Model.Customers.Count; i++)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@Model.Customers.ElementAt(i).CustomerNo</td>
                                    <td>@Model.Customers.ElementAt(i).Name</td>
                                    <td>@Model.Customers.ElementAt(i).Address</td>
                                    <td>@Model.Customers.ElementAt(i).Phone</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-listing-table').dataTable();
            /* Init DataTables */
            var oTable = $('#editable').dataTable();
            //"tableTools": {
            //    "sSwfPath": "../scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            //}
        });

    </script>
}