﻿@{
    ViewBag.Title = "Map User to Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(null != TempData["alertMessage"])
   {
<script type="text/javascript">
    alert("@TempData["alertMessage"]");
</script>
   }
   

@model SLEWebPortal.Models.UserViewModel



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Map Users to Routes</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Route Mapping</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        @using (Html.BeginForm("MapUserToRoute", "User", FormMethod.Post))
                        {
                            <div>
                                <label class="col-lg-1 control-label">User</label>
                                <div class="col-lg-3">
                                    @Html.DropDownListFor(m => Model.SelectedUser, Model.UserList, "Select User", new { @class = "form-control" })
                                </div>

                                <label class="col-lg-1 control-label">Route</label>
                              

                                <div class="col-lg-3">
                                    @Html.ListBox("Select Route", Model.RouteList, new { @class = "chzn-select", data_placeholder = "Select Routes...", style = "width:350px;" })

                                    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
                                    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
                                    <script src="@Url.Content("~/Chosen/chosen.jquery.js")" type="text/javascript"></script>
                                    <link href="@Url.Content("~/Chosen/chosen.css")" rel="stylesheet" type="text/css" />
                                    <script>    $(".chzn-select").chosen(); </script>

                                </div>


                                <div class="col-lg-1" style="margin-left:15%;">
                                    <button class="btn btn-sm btn-white pull-left" type="submit">Save</button>
                                </div>
                            </div>
                            <div class="form-group clear">
                                @*<hr />*@
                            </div>
                        }

                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Display Name</th>
                                <th>Login ID</th>
                                <th>Role</th>
                                <th>Route</th>
                                <th>Created</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@item.DisplayName</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Role</td>
                                    <td>
                                        @item.Route
                                    </td>
                                    <td>
                                        @if (item.CreatedOn != null)
                                        {
                                            @item.CreatedOn.ToString("dd/MMM/yy")
                                        }
                                    </td>
                                    
                                    <td>
                                        @if (@item.Active)
                                        {
                                            <span class="label label-primary">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">No</span>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

