﻿@{
    Layout = null;
}

@model SLEWebPortal.Models.Login
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SLE | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">

</head>

<body class="gray-bg login-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6 login-intro-text">
                <h2 class="font-bold">Welcome<br/> to<br /> <h1 class="font-bold">SLE Webportal</h1></h2>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>User Login</h4>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control",  id = "password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-9 col-md-3">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                 
                </div>
            </div>
        </div>
        <div>
           
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function test()
    {
        if (event.keyCode == 32) {
            return false;
        }
    }
</script>