﻿@{
    ViewBag.Title = "Devices";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  SLEWebPortal.Models.DeviceViewModel




<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Manage Devices</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.TotalDevices</h1>
                    <small style=" font-weight:500;"> Total Devices </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Active</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.ActiveDevices</h1>
                    <small style=" font-weight:500;"> Active Devices </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mapped to user</h5>

                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">--</h1>
                    <small style=" font-weight:500;"> Mapped to Users </small>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listing</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Device ID</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Route</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= @Model.Devices.Count; i++)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@Model.Devices.ElementAt(i - 1).DeviceID</td>
                                    <td>@Model.Devices.ElementAt(i - 1).Manufacturer</td>
                                    <td>@Model.Devices.ElementAt(i - 1).Model</td>
                                    <td></td>
                                    <td>@if (Model.Devices.ElementAt(i - 1).Active==1)
                                    {
                                        <a href="@Url.Action("ToggleActive", "Device", new { State = "OFF", DeviceID = Model.Devices.ElementAt(i - 1).DeviceID })">
                                            <span class="label label-primary">Yes</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ToggleActive", "Device", new { State = "ON", DeviceID = Model.Devices.ElementAt(i - 1).DeviceID })"><span class="label label-danger">No</span></a>
                                    }</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add New Device</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("AddDevice", "Device", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Device ID</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.DeviceID, new { @class = "form-control", name = "deviceid", id = "deviceid" })
                                @Html.ValidationMessageFor(model => model.DeviceID)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Model</label>

                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.Model, new { @class = "form-control", name = "model", id = "model" })
                                @Html.ValidationMessageFor(model => model.Model)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Manufacturer</label>

                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control", name = "manufacturer", id = "manufacturer" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-white pull-right" type="submit">Save</button>
                            </div>
                        </div>
                       
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}