﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEWebPortal.Models.DashboardModels
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
@{
    var totalOrders = Model.TotalOrders;
    var totalOrdersForToday = Model.TotalOrdersForToday;
    var totalVoidOrders = Model.TotalVoidOrders;
    var totalVoidOrdersForToday = Model.TotalVoidOrdersForToday;
    var totalPaymentAmountForToday = Model.TotalPaymentAmountForToday;
    var totalCustomers = Model.TotalCustomers;
   // var coffee = 0.0;
   // var allie = 0.0;
   // var order = 0.0;
   // try { 
   // coffee = Convert.ToDouble(Model.graphorders[0].graphcoffee);
   // allie = Convert.ToDouble(Model.graphorders[0].graphallie);
   // order = Convert.ToDouble(Model.graphorders[0].graphordertotal);
   // }
   // catch(Exception ex)
   // {
        
        
   // }
   // var totalcoffee = 0.0;
   // var totalallie = 0.0;
   // var totalorder = 0.0;
   //// for (int i = 0; i < Model.Orders.Count; i++)
   //// {
   //   //  totalcoffee = totalcoffee + Convert.ToDouble(Model.Orders[i].TotalCoffee);
   // //}
   //     totalcoffee = Convert.ToDouble(Model.Orders.Sum(x => x.TotalCoffee.AsDecimal()));
   //     totalallie = Convert.ToDouble(Model.Orders.Sum(x => x.TotalAllied.AsDecimal()));
   //     totalorder = Convert.ToDouble(Model.Orders.Sum(x => x.OrderTotal.AsDecimal()));
   // TempData["Resultcoffee"] = (coffee / totalcoffee) * 100;
   // TempData["Resultallie"] = (allie / totalallie) * 100;
   // TempData["Resultorder"] = (order / totalorder) * 100;
   // TempData["totalcoffee"] = coffee;
   // TempData["totalallie"] = allie;
   // TempData["totalorder"] = order;
}

<style>
    button:hover, button:focus {



    }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
      
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-money" style="color:green;"></i>  Payments</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@totalPaymentAmountForToday</h1>
                    <small>Total payments for today</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right"><h5><a href="@Url.Action("OrderList","Dashboard")">@totalOrders</a></h5></span>
                     <h5> <i class="fa fa-shopping-cart" style="color:rgba(229, 205, 22, 0.97);"></i>  Orders</h5>
                                                                   
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="@Url.Action("OrdersForToday", "Dashboard")">@totalOrdersForToday</a></h1>                    
                    <small>New orders for today</small>                   
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right" style="background-color:transparent;"><h5><a href="@Url.Action("VoidOrderList","Dashboard")">@totalVoidOrders</a></h5></span>
                    <h5><i class="fa fa-trash" style="color:rgba(229, 72, 22, 1);"></i>  Void Orders</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="@Url.Action("VoidOrdersForToday", "Dashboard")">@totalVoidOrdersForToday</a></h1>
                    <small>Today</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Total</span>
                    <h5><i class="fa fa-users" style="color:rgba(22, 72, 229, 1);"></i>  Customers</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@totalCustomers</h1>
                    <small>Total</small>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-line-chart" style="color:rgba(0, 0, 255, 0.74);"></i> Orders</h5>
                    <div class="pull-right">
                        <div class="btn-group">
                           
                            <form id="myForm">

                                <button id="today" type="button" class="btn btn-xs btn-white active">Today</button>

                                <button id="monthly" type="button" class="btn btn-xs btn-white">Monthly</button>

                                <button id="yearly" type="button" class="btn btn-xs btn-white">Annually</button>

                                </form>
                            
</div>
                    </div>
                </div>
                <div id="refresh">
                    <div id="graph" class="ibox-content" style="width:100%">
                        @Html.Partial("_graph")
                        @*<div class="row" style="width:100%">

                            <div class="col-lg-3" style="width:100%">
                                <div id="live-poll-area" style="width:100%">

                                    <div class="answer-list" style="width:100%"></div>
                                </div>
                                @*<ul class="stat-list">
                            <li>
                                <h2 class="no-margins">2,346</h2>
                                <small>Total orders in period</small>
                                <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">4,422</h2>
                                <small>Orders in last month</small>
                                <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                <div class="progress progress-mini">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">9,180</h2>
                                <small>Monthly income from orders</small>
                                <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar"></div>
                                </div>
                            </li>
                        </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
<script src="@Url.Content("~/Scripts/jquery-c152c51c4dda93382a3ae51e8a5ea45d.js")"></script>
   <script>
       if (document.location.search.match(/type=embed/gi)) {
           window.parent.postMessage('resize', "*");
       }
</script>

<script>
    var percentageArray = new Array();
    percentageArray.push(Math.round(@TempData["Resultcoffee"],2));
    percentageArray.push(Math.round(@TempData["Resultallie"],2));
    percentageArray.push(Math.round(@TempData["Resultorder"],2));

    var amountArray = new Array();
    amountArray.push(Math.round(@TempData["totalcoffee"],2));
    amountArray.push(Math.round(@TempData["totalallie"],2));
    amountArray.push(Math.round(@TempData["totalorder"],2));
    //      percentageArray.push(28.75);
    var answerArray = new Array();
    answerArray.push('Total Coffee');
    answerArray.push('Total Allied');
    answerArray.push('Orders');
    //      answerArray.push('G\xE5');
    $.fn.createBarchart = function (optionvariables) {
        var chartContainer = $(this);
        var defaults = { 'maxWidth': 244 };
        var options = $.extend({}, defaults, optionvariables);
        var self = $(this), graphContainer = self.parent().find('.graph-container .graph'), barChart = $('<ul/>', { class: 'bar-chart' });
        barChart.appendTo(chartContainer);
        $.each(answerArray, function (index, value) {
            var chartAnswer = $('<li/>', { class: 'answer-' + index }), answerLabel = $('<span/>', {
                class: 'no-margins2',
                text: '$'+ amountArray[index] 
            }), chartAnswer2 = $('<li/>', { class: 'answer-' + index }), answerLabel2 = $('<span/>', {
                class: 'labelnew',
                text: value            
            }), percentageValue = percentageArray[index].toString(), answerPercentage = $('<span/>', {
                class: 'stat-percent'
                //   text: percentageValue.replace('.', ',') + '%'
            //    text: '$'+ amountArray[index] 
            }), barTrack = $('<span/>', { class: 'bar-track' }), bar = $('<span />', {
                class: 'progress-bar',
                style: 'width: ' + percentageValue + '%;'
            });
            chartAnswer.appendTo(barChart);
            chartAnswer2.appendTo(barChart);
            answerLabel.appendTo(chartAnswer);
            answerLabel2.appendTo(chartAnswer);
            answerPercentage.appendTo(chartAnswer);
            barTrack.appendTo(chartAnswer);
            bar.appendTo(barTrack);
        });
        if ($('html').hasClass('canvas')) {
            barChart.chart({ graphContainer: graphContainer });
        }
    };

    //  };
    $('#live-poll-area .answer-list').createBarchart();

</script>

<script type="text/javascript">

    $("#today").click(function() {
        @*var form = $("form#myForm");
        form.attr("action", "@Url.Action("today","Dashboard")");
        form.submit();*@
        $.ajax({
            url: "@Url.Action("today","Dashboard")",
            type: "get",
        //   data: $("form").serialize(), //if you need to post Model data, use this
        success: function (result) {
            $("#graph").html(result);
        }
        });
        document.getElementById("today").setAttribute("class", "btn btn-xs btn-white active");
        document.getElementById("monthly").setAttribute("class", "btn btn-xs btn-white");
        document.getElementById("yearly").setAttribute("class", "btn btn-xs btn-white");
    });

    $("#yearly").click(function() {
        @*var form = $("form#myForm");
        form.attr("action", "@Url.Action("yearly","Dashboard")");
        form.submit();*@
        $.ajax({
            url: "@Url.Action("yearly","Dashboard")",
            type: "get",
        //   data: $("form").serialize(), //if you need to post Model data, use this
        success: function (result) {
            $("#graph").html(result);
        }
        });
        document.getElementById("yearly").setAttribute("class", "btn btn-xs btn-white active");
        document.getElementById("monthly").setAttribute("class", "btn btn-xs btn-white");
        document.getElementById("today").setAttribute("class", "btn btn-xs btn-white");
    });

    $("#monthly").click(function() {
        @*var form = $("form#myForm");
        form.attr("action", "@Url.Action("monthly", "Dashboard")");
        form.submit();*@
        $.ajax({
            url: "@Url.Action("monthly","Dashboard")",
            type: "get",
         //   data: $("form").serialize(), //if you need to post Model data, use this
            success: function (result) {
                $("#graph").html(result);
            }
        });
        document.getElementById("monthly").setAttribute("class", "btn btn-xs btn-white active");
        document.getElementById("yearly").setAttribute("class", "btn btn-xs btn-white");
        document.getElementById("today").setAttribute("class", "btn btn-xs btn-white");
    });
</script>



}

