﻿@{
    ViewBag.Title = "OrdersForToday";
}
@model SLEWebPortal.Models.DashboardModels

<h2>New Orders For Today</h2>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Orders : @Model.Orders.Count</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-responsive order-list-table">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer No</th>
                                <th>Order Date</th>
                                <th>Total Coffee</th>
                                <th>Total Allied</th>
                                <th>Order Total</th>
                                <th>Sales Tax Amount</th>
                                <th>Order State</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.Orders.Count == 0)
                            {
                                <tr>
                                    <td colspan="5" class="responseMsg">No data available in table</td>
                                </tr>
                            }
                            @for (int i = 1; i <= @Model.Orders.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Orders.ElementAt(i - 1).OrderID</td>
                                    <td>@Model.Orders.ElementAt(i - 1).CustomerNo</td>
                                    <td>@Convert.ToDateTime(Model.Orders.ElementAt(i - 1).OrderDate).ToString("MM/dd/yyyy")</td>
                                    <td>$ @Model.Orders.ElementAt(i - 1).TotalCoffee</td>
                                    <td>$ @Model.Orders.ElementAt(i - 1).TotalAllied</td>
                                    <td>$ @Model.Orders.ElementAt(i - 1).OrderTotal</td>
                                    <td>$ @Model.Orders.ElementAt(i - 1).SalesTaxAmount</td>
                                    <td>@Model.Orders.ElementAt(i - 1).OrderState</td>
                                    <td>
                                        <img src="@Model.Orders.ElementAt(i - 1).OrderSubState" />
                                    </td>                                    
                                </tr>
                            }
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")

   <script>
            $('.btn-detail').click(function (e) {
                debugger
                var currentElem = e.currentTarget;
                var dataId = $(currentElem).attr('data-target');
                var accordionDiv = $("tr#accordion").hide();

                $.ajax({
                    // method: 'POST', <-- remove this
                    type: 'POST', // <-- add this
                    url: "@Url.Action("OrderDetails","Dashboard")",
                    data: { orderID: dataId },
                    success: function (data) {
                        console.log("success");
                        $('[data-element ="' + dataId + '"] .detail-container').html(data);
                        $('tr[data-element ="' + dataId + '"] > td').addClass('selected');
                        console.log(data);
                    },
                    error: function (error) {
                        console.log('error');
                    }
                });
                accordionDiv.not('[data-element ="' + dataId + '"]').prev().removeClass('active');
                $('tr[data-element ="' + dataId + '"]').prev().addClass('active');
                $(currentElem).find('i').removeClass('fa fa-folder-open').addClass('fa fa-folder')
                $('[data-element ="' + dataId + '"]').slideToggle("slow");

                accordionDiv.not('[data-element ="' + dataId + '"]').slideUp("slow");


            });
            $('#world-map').vectorMap({
                map: 'world_mill_en',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 0.9,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },

                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#1ab394", "#22d6b1"],
                        normalizeFunction: 'polynomial'
                    }]
                },
            });

        });
    </script>
}



